<div class="max-w-md mx-auto mt-8 bg-white shadow-lg rounded-lg overflow-hidden">
    <div class="text-2xl py-3 px-4 bg-sky-500 text-white text-center font-bold uppercase">
        Editar Superhéroe
    </div>
    <form class="py-3 px-4" action="/api/heroes/<%= superhero._id %>/formularioEdit?_method=PUT" method="POST">
        <div class="mb-3">
            <label class="block text-gray-700 font-bold mb-1" for="nombreSuperheroe">
                Nombre Superhéroe
            </label>
            <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 focus:outline-none focus:shadow-outline text-sm"
                id="nombreSuperheroe" type="text" required name="nombreSuperheroe" value="<%= superhero.nombreSuperheroe %>">
        </div>
        <div class="mb-3">
            <label class="block text-gray-700 font-bold mb-1">
                Nombre Real
            </label>
            <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 focus:outline-none focus:shadow-outline text-sm"
                id="nombreReal" type="text" required name="nombreReal" value="<%= superhero.nombreReal %>">
        </div>
        <div class="mb-3">
            <label class="block text-gray-700 font-bold mb-1" for="edad">
                Edad
            </label>
            <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 focus:outline-none focus:shadow-outline text-sm"
                id="edad" type="number" required name="edad" value="<%= superhero.edad %>">
        </div>
        <div class="mb-3">
            <label class="block text-gray-700 font-bold mb-1" for="planetaOrigen">
                Planeta de Origen
            </label>
            <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 focus:outline-none focus:shadow-outline text-sm"
                id="planetaOrigen" type="text" required name="planetaOrigen" value="<%= superhero.planetaOrigen %>">
        </div>
        <div class="mb-3">
            <label class="block text-gray-700 font-bold mb-1" for="debilidad">
                Debilidad
            </label>
            <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 focus:outline-none focus:shadow-outline text-sm"
                id="debilidad" type="text" required name="debilidad" value="<%= superhero.debilidad %>">
        </div>
        <div class="mb-3">
            <label class="block text-gray-700 font-bold mb-1" for="poderes">
                Poderes
            </label>
            <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 focus:outline-none focus:shadow-outline text-sm"
                id="poderes" type="text" required name="poderes" value="<%= superhero.poderes.join(', ') %>">
        </div>
        <div class="mb-3">
            <label class="block text-gray-700 font-bold mb-1" for="aliados">
                Aliados
            </label>
            <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 focus:outline-none focus:shadow-outline text-sm"
                id="aliados" type="text" required name="aliados" value="<%= superhero.aliados.join(', ') %>">
        </div>
        <div class="mb-3">
            <label class="block text-gray-700 font-bold mb-1" for="enemigos">
                Enemigos
            </label>
            <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 focus:outline-none focus:shadow-outline"
                id="enemigos" type="text" required name="enemigos" value="<%= superhero.enemigos.join(', ') %>">
        </div> 
        <div class="mb-3">
            <label class="block text-gray-700 font-bold mb-1" for="enemigos">
                Creador
            </label>
            <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 focus:outline-none focus:shadow-outline"
                id="creador" type="text" required name="creador" value="<%= superhero.creador %>">
        </div> 
        <div class="flex items-center justify-center gap-2 mb-3">
            <button
                class="bg-sky-500 text-white py-2 px-4 rounded hover:bg-sky-700 focus:outline-none focus:shadow-outline"
                type="submit">
                Editar Superhéroe
            </button>
            <button 
                class="bg-gray-300 text-gray-700 py-2 px-4 rounded hover:bg-gray-400 focus:outline-none focus:shadow-outline"
                type="button" onclick="window.location.href='/api/heroes/vista'">
                Volver al Listado
            </button>
        </div>
    </form>
  </div>



